.cc
{
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    font-family: 'Advent Pro', sans-serif;
    color: darkgray;
}

.cc a
{
    text-decoration: none;
    color: darkgray;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.cc a:hover
{
    color: dimgray;
}