html
{
    cursor: url("Images/cursor.png"), url("Images/cursor.cur"), default;
}

body
{
    margin: 0;
    padding: 0;
}

.site-container
{
    padding-top: 80px;
}

.album-grid
{
    display: grid;
    grid-template-columns: repeat(4, 225px);
    justify-items: center;
    justify-content: center;
}

h2
{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.video-grid
{
    display: grid;
    grid-template-columns: repeat(1,200px);
    justify-items: center;
    justify-content: center;
    padding-top: 48px;
    grid-row-gap: 32px;
}

@media (min-width: 600px)
{
    .bucketvid iframe
    {
        width: 560px;
        height: 315px;
    }
}

@media (max-width: 1000px)
{
    .album-grid
    {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px,1fr));
        grid-row-gap: 32px;
    }
}