html
{
    cursor: url("Images/cursor.png"), url("Images/cursor.cur"), default;
}

body
{
    margin: 0;
    padding: 0;
}

.site-container
{
    padding-top: 80px;
}

.toystore
{
    text-align: center;
}

.toyimg
{
    width: 100%;
    height: 340px;
}

.shop
{
    padding-bottom: 20rem;
}

.name
{
    font-size: 36px;
    margin: 0 80px 0 80px;
}

.explain
{
    font-size: 12px;
    margin: 0 80px 0 80px;
}

h1
{
    font-family: 'ZCOOL KuaiLe', sans-serif;
    text-align: center;
}

h2
{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.all-mobile
{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    width: 0%;
}

.all-items
{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.an-item4, .an-item5, .an-item6
{
    padding-top: 1rem;
    font-family: 'Hind Siriguri', sans-serif;
}

@media (max-width: 850px)
{
    .site-container
    {
        padding-top: 32rem;
    }
    
    .all-items
    {
        position: absolute;
        visibility: visible;
        overflow: hidden;
        width: 0%;
    }
    
    .all-mobile
    {
        visibility: visible;
        position: relative;
        padding-top: 5rem;
        width: 100%;
    }
}

@media (max-width: 600px)
{
    .name
    {
        font-size: 18px;
        margin: 0 0 0 0;
    }
    
    .toyimg
    {
        height:auto;
    }
    
    .explain
    {
        margin: 0 3rem 0 3rem;
    }
}